@import url('style.css');

.projects-iframe-container {
    width: 600px;
    height: 500px;
    text-align: center;
    margin-top: 50px;
    pointer-events: none;
}

.projects-iframe-title {
    font-family: Nunito;
    text-align: center;
    margin: 5px 0 5px 0;
    color: var(--darkmode-text-color);
    pointer-events: none;
}

.projects-project-iframe {
    width: 550px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid pink;
    border-radius: 20px;
}

.site-header {
    color: var(--darkmode-text-color);
    font-family: Nunito;
    font-size: 50px;
    text-align: center;
    margin: 0 0 50px 0;
    pointer-events: none;
}
