@import url('style.css');

body {
    display: inline;
    height: auto;
    max-width: 1500px;

}

.site-header {
    color: var(--darkmode-text-color);
    font-family: Nunito;
    font-size: 50px;
    text-align: center;
    margin: 0 0 50px 0;
    pointer-events: none;
}

.card-wrapper {
    margin-top: 50px;
    display: flex;
    max-width: 1500px;
    min-width: 600px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}

.card {
    position: relative;
    width: 400px;
    height: 400px;
    pointer-events: none;
}

.card__content {
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: 380px;
    height: 340px;
    border: 2px solid green;
    border-radius: 20px;
}

.card__title {
    font-family: Nunito;
    font-size: 30px;
    text-align: center;
    margin: 5px 0 5px 0;
    color: var(--darkmode-text-color);
    pointer-events: none;
}