@font-face {
    font-family: "Nunito";
    src: url(assets/fonts/Nunito/Nunito-VariableFont_wght.ttf) format("truetype");
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root {
    --catppuccin-background-color: #1e1e2e;
    --catppuccin-footer: #10101a;

    --catppuccin-rosewater: #f5e0dc;
    --catppuccin-flamingo: #f2cdcd;
    --catppuccin-pink: #f5c2e7;
    --catppuccin-mauve: #cba6f7;
    --catppuccin-red: #f38ba8;
    --catppuccin-maroon: #eba0ac;
    --catppuccin-peach: #fab387;
    --catppuccin-yellow: #f9e2af;
    --catppuccin-green: #a6e3a1;
    --catppuccin-teal: #94e2d5;
    --catppuccin-sky: #89dceb;
    --catppuccin-sapphire: #74c7ec;
    --catppuccin-blue: #89b4fa;
    --catppuccin-lavender: #b4befe;

    --catppuccin-text-color: #cdd6f4;
    --catppuccin-text-invert-color: #11111b;

    --default-font: Nunito;

    --default-hoverOn-phase: 0.2s;
    --default-hoverOff-phase: 0.4s;
}

body {
    min-height: 100svh; /* for when the site is non-scrollable. less than 450px voids this */
    background: var(--catppuccin-background-color);
    font-family: var(--default-font);
    color: var(--catppuccin-text-color);
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
}

p,
a,
button {
    font-size: 1rem;
    color: var(--catppuccin-text-color);
    margin: 0;
}

button {
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    background-color: var(--catppuccin-footer);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin-top: auto;
    margin-left: -20px;
    margin-right: -20px;
}

.fade-in-animation {
    animation: fadeInAnimation ease var(--default-hoverOff-phase);
}

.def-border {
    border: 2px solid var(--catppuccin-text-color);
}

.x-center {
    margin-left: auto;
    margin-right: auto;
}

.y-center {
    margin-top: auto;
    margin-bottom: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.def-site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: inherit;
    padding-left: 20px;
    padding-right: 20px;
}

/* space at the top of the site for aesthetic */
.first-top-padding {
    padding-top: 20px;
}

.divider {
    max-width: 1500px;
    width: 100%;
    height: 1px;
    background-color: var(--catppuccin-text-color);
}

#lang-switch {
    background: inherit;
    position: absolute;
    top: 10px;
    right: 10px;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0; /* removes whitespace between the links */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* navbar buttons */
#navbar > a {
    text-decoration: none;
    padding: 8px;
    border-radius: 30px;
    margin: 7px;
    user-select: none;
}

#navbar__home {
    border-color: var(--catppuccin-peach);
}

#navbar__projects {
    border-color: var(--catppuccin-maroon);
}

#navbar__contact {
    border-color: var(--catppuccin-green);
}

#navbar__github {
    border-color: var(--catppuccin-flamingo);
}

#navbar__cv {
    border-color: var(--catppuccin-teal);
}

#card-container {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
}

.card__content {
    position: relative; /* make children 'absolute' positions adhere to the parent dimensions on 'inherit' */
}

.card__content > img {
    max-width: 450px;
    max-height: 320px;
    box-shadow: 0 0 15px 1px #000000;
    transition: filter ease var(--default-hoverOff-phase);
}

.card__icons {
    display: none;
    flex-wrap: wrap;
    position: absolute;
}

.icon {
    padding-top: 20px;
}

.icon > a {
    font-size: 0; /* removes whitespace between the links */
}

.icon > a > img {
    max-height: 70px;
    max-width: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.icon__hover-bar {
    opacity: 0;
    width: 80%;
    height: 5px;
    border-radius: 3px;
    background-color: var(--catppuccin-text-color);
    margin-top: 5px;
    margin-bottom: 5px;
}

#main-card {
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-radius: 2rem;
    border-color: var(--catppuccin-lavender);
    margin: 10px;
}

#myself {
    flex-wrap: wrap-reverse;
}

#myself > img {
    height: 170px;
    border-radius: 50%;
    border-color: var(--catppuccin-yellow);
    margin-left: 20px;
    margin-right: 20px;
}

#home-text-box {
    max-width: 550px;
}

#home-text-box > p > br {
    margin-bottom: 10px;
}

#home-text-box > p > br:first-child {
    margin: 0;
}

#contact-wrapper {
	max-width: 1000px;
	margin-top: 50px;
}

#contact-text {
	display: flex;
}

#contact-head-text {
	border-radius: 20px 0 0 0;
}

#contact-sub-text {
	border-radius: 0 20px 0 0;
}

#contact-address {
	border-radius: 0 0 20px 20px;
	font-size: 1.7rem;
}

#contact-head-text,
#contact-sub-text,
#contact-address {
	padding: 20px;
	text-align: center;
}

#sources {
    background-color: inherit;
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
}

#sources-window {
    background-color: var(--catppuccin-background-color);
    position: fixed;
    bottom: 80px;
    width: fit-content;
    word-break: keep-all;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px #00000070;
}

#sources-window > p {
    padding: 20px;
}

#footer-text {
    width: 100%;
    word-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (hover: hover) {
    button:hover {
        opacity: 50%;
    }

    #navbar > a:hover {
        color: var(--catppuccin-text-invert-color);
        border-color: 2px solid var(--catppuccin-background-color);
        transition: box-shadow var(--default-hoverOn-phase);
        cursor: pointer;
    }

    #navbar__home:hover {
        background-color: var(--catppuccin-peach);
        box-shadow: 0 0 0 4px var(--catppuccin-peach);
    }

    #navbar__projects:hover {
        background-color: var(--catppuccin-maroon);
        box-shadow: 0 0 0 4px var(--catppuccin-maroon);
    }

    #navbar__contact:hover {
        background-color: var(--catppuccin-green);
        box-shadow: 0 0 0 4px var(--catppuccin-green);
    }

    #navbar__github:hover {
        background-color: var(--catppuccin-flamingo);
        box-shadow: 0 0 0 4px var(--catppuccin-flamingo);
    }

    #navbar__cv:hover {
        background-color: var(--catppuccin-teal);
        box-shadow: 0 0 0 4px var(--catppuccin-teal);
    }

    .card__content:hover > img {
        filter: blur(4px);
        transition: filter ease var(--default-hoverOn-phase);
    }

    .card__content:hover > .card__icons {
        display: flex;
    }

    .icon:hover > .icon__hover-bar {
        opacity: 1;
    }

    #sources-window > p > a:hover {
        color: var(--catppuccin-red);
    }

	#contact-address:hover,
    #footer-text > a:hover {
        color: var(--catppuccin-red);
    }
}

/* generic phone displays */
@media screen and (max-width: 450px) {
    h1 {
        font-size: 2.1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p,
    a,
    button {
        font-size: 0.8rem;
    }

    button {
        padding: 6px;
    }

    footer {
        margin-left: -5px;
        margin-right: -5px;
    }

    .def-site-wrapper {
        padding-left: 5px;
        padding-right: 5px;
    }

    #navbar > a {
        margin: 5px;
    }

    .def-border {
        border: 1px solid var(--catppuccin-lavender);
    }

    #main-card {
        padding: 15px;
        margin-top: 50px;
    }

    .def-site-wrapper > h1 {
        padding-top: 40px;
    }

    .card__content > img {
        max-width: 380px;
        max-height: 300px;
    }

    .icon > a > img {
        max-height: 50px;
        max-width: 50px;
    }

    #sources-window {
        bottom: 70px;
        left: 10px;
    }

	#contact-text > #contact-head-text,
	#contact-text > #contact-sub-text,
	#contact-address {
		padding: 5px;
	}

	#contact-address {
		font-size: 1.2rem;
	}
}

/* iPhone 12/13 mini displays */
@media screen and (max-width: 400px) {
    .card__content > img {
        max-width: 320px;
        max-height: 280px;
    }
}

/* manually following the footer height
when author-text wraps */
@media screen and (max-width: 355px) {
    #sources-window {
        bottom: 110px;
    }
}

@media screen and (max-width: 242px) {
    #sources-window {
        bottom: 130px;
    }
}