@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html, body {
    background: #0a0917;
    margin: 0;
}

body {
    max-width: 1200px;
}

.xCenter {
    margin-left: auto;
    margin-right: auto;
}

/* 
 * make a "content" -box for everything, that way darkmode wont change color on the background and make the body look small and funky. 
 * for that to work, the body and html tags need to be the same with / height, then the "content" -box will overlay that 100%.
*/

#navbar {
    display: flex;
    width: auto;
    padding: 10px;
    margin: 0 3em 0 3em;
}

.navbarButtonLeft, .navbarButtonRight {
    background: none;
    color: rgb(207, 207, 207);
    font-family: "Source Code Pro", monospace;
    font-size: 22px;
    border: 0;
    padding: 0;
    vertical-align: middle;
}

.navbarButtonRight {
    margin-left: auto;
}

.navbarButtonLeft {
    margin-right: 2em;
}

#headshot {
    margin-top: 5em;
    margin-bottom: 5em;
    height: 25em;
    width: auto;
    border-radius: 50%;
    display: flex;
}

#homeTextbox {
    margin: 0 3em 0 3em;
    width: auto;
    height: auto;
    font-family: "Source Code Pro", monospace;
    color: white;
    font-size: large;
}
