/* ---------- META SITE DESIGN >BEGIN< ---------- */

@import url("style.css");
@import url("projects.css");

/* ---------- META SITE DESIGN >END< ---------- */

/* main site container >BEGIN< */

#contact {
    display: flex;
    width: auto;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

#contact__head {
    font-size: 3rem;
}

#contact__sub {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#contact__address {
    color: var(--catppuccin-text-color);
    font-size: 2rem;
}

#contact__address:hover {
    color: var(--catppuccin-red);
}