@import url('style.css');

html, body {
    background: var(--darkmode-background-color);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    margin: 40px;
}