/* ---------- META SITE DESIGN >BEGIN< ---------- */

@import url("style.css");

/* ---------- META SITE DESIGN >END< ---------- */

/* ---------- SITE CONTAINER DESIGN >BEGIN< ---------- */

#site-container {
    max-width: 2500px;
    min-height: 100svh;
    text-align: center;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
}

/* ---------- SITE CONTAINER DESIGN >END< ---------- */

/* ---------- PROJECT CARDS >BEGIN< ---------- */

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    gap: 20px;
    margin: 50px 0 50px 0;
    justify-content: center;
}

.card__title {
    font-size: 30px;
    padding-bottom: 5px;
    text-align: center;
}

.card__content {
    height: 340px;
}

.card__content > a {
    width: inherit;
    height: inherit;
    transition: 0.5s;
}

.card__content > a:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.card__content > a > img {
    width: inherit;
    height: inherit;
}

/* ---------- PROJECT CARDS >END< ---------- */
