@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: 'Nunito';
    src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf) format('truetype');
}

:root {
    --darkmode-background: #0a0917;
    --darkmode-text-color: rgb(207, 207, 207);
    --darkmode-text-invert-color: black;

    --darkmode-yellow: #f1fa8c;
    --darkmode-orange: #ffb86c;
    --darkmode-pink: #ff79c6;
    --darkmode-purple: #bd93f9;
    --darkmode-green: #50fa7b;
}

html, body {
    background: var(--darkmode-background);
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100%;
}

p {
    margin-top: 0;
}

.x-center {
    margin-left: auto;
    margin-right: auto;
}

#application {
    width: 1000px;
    max-width: 1000px;
    height: auto;
    padding: 0 20px 0 20px; 
}

#portrait {
    height: 300px;
    width: auto;
    border-radius: 50%;
    display: flex;
    padding: 7px;
    border: 3px solid var(--darkmode-yellow);
}

#navbar {
    max-width: 600px;
    height: 50px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;
}

a.navbar-button-spacing {
    margin-right: 25px;
}

.navbar-button {
    background: none;
    color: var(--darkmode-text-color);
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    vertical-align: middle;
    transition: border 5ms, box-shadow 5ms;
}

.navbar-button:hover {
    cursor: pointer;
    color: var(--darkmode-text-invert-color);
}

#navbar-home-button {
    border-color: var(--darkmode-orange);
}

#navbar-projects-button {
    border-color: var(--darkmode-pink);
}

#navbar-github-button {
    border-color: var(--darkmode-purple);
}

#navbar-contact-button {
    border-color: var(--darkmode-green);
    margin-right: 0;
}

#navbar-home-button:hover {
    background-color: var(--darkmode-orange);
    border: 3px solid var(--darkmode-background);
    box-shadow: 0 0 0 5px var(--darkmode-orange);
}

#navbar-projects-button:hover {
    background-color: var(--darkmode-pink);     
    border: 3px solid var(--darkmode-background);
    box-shadow: 0 0 0 5px var(--darkmode-pink);
}

#navbar-github-button:hover {
    background-color: var(--darkmode-purple);
    border: 3px solid var(--darkmode-background);
    box-shadow: 0 0 0 5px var(--darkmode-purple);
}

#navbar-contact-button:hover {
    background-color: var(--darkmode-green);
    border: 3px solid var(--darkmode-background);
    box-shadow: 0 0 0 5px var(--darkmode-green);
}

#home-text-box {
    font-family: "Source Code Pro", monospace;
    color: var(--darkmode-text-color);
    font-size: 18px;
    margin: 0 5px 0 5px;
    pointer-events: none;
}

.per-site-header {
    color: var(--darkmode-text-color);
    font-family: Nunito;
    font-size: 50px;
    text-align: center;
    margin: 0 0 50px 0;
    pointer-events: none;
}

.projects-iframe-container {
    width: 600px;
    height: 500px;
    text-align: center;
    margin-top: 50px;
    pointer-events: none;
}

.projects-iframe-title {
    font-family: Nunito;
    text-align: center;
    margin: 5px 0 5px 0;
    color: var(--darkmode-text-color);
    pointer-events: none;
}

.projects-project-iframe {
    width: 550px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid pink;
    border-radius: 20px;
}
